{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "commonjs",
  },
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "@typescript-eslint/space-before-blocks": "error",
    "@typescript-eslint/semi": "error",
    "@typescript-eslint/space-before-function-paren": "error",
    "@typescript-eslint/space-infix-ops": "error",
    "@typescript-eslint/block-spacing": "error",
    "@typescript-eslint/comma-spacing": "error",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/consistent-type-definitions": ["error", "interface"],
    "@typescript-eslint/consistent-type-imports":"error",
    "@typescript-eslint/key-spacing":"error",
    "@typescript-eslint/keyword-spacing":"error",
    "@typescript-eslint/type-annotation-spacing":"error",
    "@typescript-eslint/typedef":"error",
    "no-restricted-imports":"error",
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "semi-spacing":"error",
    "indent": ["error", 2],
    "no-multi-spaces": "error",
    "space-in-parens": "error",
    "no-multiple-empty-lines": "error",
    "prefer-const": "error",
    "no-use-before-define": "error",
    "no-irregular-whitespace":"error",
    // "no-console": "error"
  },
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
  },
}
