{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "plugins": ["@typescript-eslint", "import"],
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "rules": {
    "@typescript-eslint/no-inferrable-types": "error",
    "@typescript-eslint/no-use-before-define": "off",
    "arrow-body-style": "off",
    "linebreak-style": 0,
    "import/prefer-default-export": "off",
    "comma-dangle": [2, "always-multiline"],
    "no-use-before-define": ["error", { "variables": false }],
    "space-before-blocks": "off",
    "@typescript-eslint/space-before-blocks": "off",
    "no-unused-expressions": "off",
    "@typescript-eslint/no-unused-expressions": "warn",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "always-and-inside-groups"
      }
    ],
    "import/no-import-module-exports": "off",
    "no-underscore-dangle":"off"
  }
}
